$emoji-base-color: #FFDA6A;
$emoji-like-color: #548DFF;
$emoji-love-color: #F55064;
$emoji-white-color: #FFFFFF;
$emoji-black-color: #000000;
$emoji-text-color: #8A8A8A;
$emoji-size: 60px;

.emoji {
  width: $emoji-size;
  height: $emoji-size;
  background: $emoji-base-color;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}

.emoji__face,
.emoji__eyebrows,
.emoji__eyes,
.emoji__mouth,
.emoji__tongue,
.emoji__heart,
.emoji__hand,
.emoji__thumb {
  position: absolute;

  &:before, &:after {
    position: absolute;
    content: '';
  }
}

.emoji__face {
  width: inherit;
  height: inherit;
}

.emoji--like {
  background: $emoji-like-color;

  .emoji__hand {
    left: 25px;
    bottom: 30px;
    width: 20px;
    height: 40px;
    background: $emoji-white-color;
    border-radius: 5px;
    z-index: 0;
    animation: hands-up 2s linear infinite;

    &:before {
      left: 25px;
      bottom: 5px;
      width: 40px;
      background: inherit;
      height: 10px;
      border-radius: 2px 10px 10px 2px;
      box-shadow: 1px -9px 0 1px $emoji-white-color, 2px -19px 0 2px $emoji-white-color, 3px -29px 0 3px $emoji-white-color;
    }
  }

  .emoji__thumb {
    border-bottom: 20px solid $emoji-white-color;
    border-left: 20px solid transparent;
    top: -25px;
    right: -25px;
    z-index: 2;
    transform: rotate(5deg);
    transform-origin: 0% 100%;
    animation: thumbs-up 2s linear infinite;

    &:before {
      border-radius: 50% 50% 0 0;
      background: $emoji-white-color;
      width: 10px;
      height: 12px;
      left: -10px;
      top: -8px;
      transform: rotate(-15deg);
      transform-origin: 100% 100%;
      box-shadow: -1px 4px 0 -1px $emoji-white-color;
    }
  }
}

.emoji--love {
  background: $emoji-love-color;

  .emoji__heart {
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    width: 80px;
    height: 80px;
    animation: heart-beat 1s linear infinite alternate;

    &:before, &:after {
      left: calc(50% - 10px);
      top: calc(50% - 15px);
      width: 20px;
      height: 35px;
      background: $emoji-white-color;
      border-radius: 20px 20px 0 0;
    }

    &:before {
      transform: translate(10px) rotate(-45deg);
      transform-origin: 0 100%;
    }

    &:after {
      transform: translate(-10px) rotate(45deg);
      transform-origin :100% 100%;
    }
  }
}

.emoji--haha {

  .emoji__face {
    animation: haha-face 2s linear infinite;
  }

  .emoji__eyes {
    width: 26px;
    height: 6px;
    border-radius: 2px;
    left: calc(50% - 13px);
    top: 35px;
    transform: rotate(20deg);
    background: transparent;
    box-shadow: -25px 5px 0 0 $emoji-black-color,  25px -5px 0 0 $emoji-black-color;

    &:after {
      left: 0;
      top: 0;
      width: 26px;
      height: 6px;
      border-radius: 2px;
      transform: rotate(-40deg);
      background: transparent;
      box-shadow: -25px -5px 0 0 $emoji-black-color,  25px 5px 0 0 $emoji-black-color;
    }
  }

  .emoji__mouth {
    width: 80px;
    height: 40px;
    left: calc(50% - 40px);
    top: 50%;
    background: $emoji-black-color;
    border-radius: 0 0 40px 40px;
    overflow: hidden;
    z-index: 1;
    animation: haha-mouth 2s linear infinite;
  }

  .emoji__tongue {
    width: 70px;
    height: 30px;
    background: $emoji-love-color;
    left: calc(50% - 35px);
    bottom: -10px;
    border-radius: 50%;
  }
}

.emoji--yay {

  .emoji__face {
    animation: yay 1s linear infinite alternate;
  }

  .emoji__eyebrows {
    left: calc(50% - 2px);
    top: 18px;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background: transparent;
    //box-shadow: -3px 0 0 0 $emoji-black-color, -13px 0 0 0px $emoji-black-color, 3px 0 0 0 $emoji-black-color, 13px 0 0 0px $emoji-black-color;

    &:before, &:after {
      width: 18px;
      height: 9px;
      border-radius: 30px 30px 0 0;
      background: transparent;
      border: 3px solid #000000;
      box-sizing: border-box;
      border-bottom: 0;
      bottom: 0px;
      left: calc(50% - 9px);
    }

    &:before {
      margin-left: -11px;
    }

    &:after {
      margin-left: 11px;
    }
  }

  .emoji__mouth {
    top: 35px;
    background: transparent;
    left: 50%;

    &:after {
      width: 40px;
      height: 40px;
      left: calc(50% - 20px);
      top: -38px;
      border-radius: 50%;
      background: transparent;
      border: 3px solid $emoji-black-color;
      box-sizing: border-box;
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      z-index: 1;
    }

    &:before {
      width: 3px;
      height: 3px;
      background: transparent;
      border-radius: 50%;
      bottom: 2px;
      left: calc(50% - 2px);
      box-shadow: -12px 0 0 0 $emoji-black-color, 12px 0 0 0 $emoji-black-color, -17px -1px 15px 5px $emoji-love-color, 17px -1px 15px 5px $emoji-love-color;
    }
  }
}

.emoji--wow {

  .emoji__face {
    animation: wow-face 3s linear infinite;
  }

  .emoji__eyebrows {
    left: calc(50% - 3px);
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background: transparent;
    animation: wow-brow 3s linear infinite;

    &:before, &:after {
      width: 15px;
      height: 12px;
      border: 3px solid $emoji-black-color;
      box-sizing: border-box;
      border-radius: 50%;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      top: 2px;
      left: calc(50% - 7px);
    }

    &:before {
      margin-left: -12px;
    }

    &:after {
      margin-left: 12px;
    }
  }

  .emoji__eyes {
    width: 8px;
    height: 12px;
    left: calc(50% - 4px);
    top: 20px;
    border-radius: 50%;
    background: transparent;
    box-shadow: 11px 0 0 0 $emoji-black-color, -13px 0 0 0 $emoji-black-color;
  }

  .emoji__mouth {
    width: 15px;
    height: 23px;
    left: calc(50% - 7px);
    top: 55%;
    border-radius: 50%;
    background: $emoji-black-color;
    animation: wow-mouth 3s linear infinite;
  }
}

@keyframes heart-beat {
  25% {transform: scale(1.1);}
  75% {transform: scale(0.6);}
}

@keyframes haha-face {
  10%, 30%, 50% {transform: translateY(25px);}
  20%, 40% {transform: translateY(15px);}
  60%, 80% {transform: translateY(0);}
  70%, 90% {transform: translateY(-10px);}
}

@keyframes haha-mouth {
  10%, 30%, 50% {transform: scale(0.6); top: 45%;}
  20%, 40% {transform: scale(0.8); top: 45%;}
  60%, 80% {transform: scale(1); top: 50%;}
  70% {transform: scale(1.2); top: 50%;}
  90% {transform: scale(1.1); top: 50%;}
}

@keyframes yay {
  25% {transform: rotate(-15deg);}
  75% {transform: rotate(15deg);}
}

@keyframes wow-face {
  15%, 25% {transform: rotate(20deg) translateX(-25px);}
  45%, 65% {transform: rotate(-20deg) translateX(25px);}
  75%, 100% {transform: rotate(0deg) translateX(0);}
}

@keyframes wow-brow {
  15%, 65% {top: 12px;}
  75%, 100%, 0% {top: 7px;}
}

@keyframes wow-mouth {
  10%, 30% {width: 10px; height: 10px; left: calc(50% - 5px);}
  50%, 70% {width: 15px; height: 20px; left: calc(50% - 7px);}
  75%, 100% {height: 25px;}
}

@keyframes hands-up {
  25% {transform: rotate(15deg);}
  50% {transform: rotate(-15deg) translateY(-10px);}
  75%, 100% {transform: rotate(0deg);}
}

@keyframes thumbs-up {
  25% {transform: rotate(20deg);}
  50%, 100% {transform: rotate(5deg);}
}
