## General
.cvs
.htaccess
.svn
*.bak
*.swp
.idea
.history
.vscode

## Windows
Desktop.ini
Thumbs.db

## Mac
.DS_Store

## Development
node_modules

public/main\.js

public/main\.css
# START WP-CLI BUILD BLOCK
# ------------------------------------------------------------
# This block is auto generated every time you run 'wp build-generate'
# Rules: Exclude everything from Git except for your custom plugins and themes (that is: those that are not on wordpress.org)
# ------------------------------------------------------------
/*
!.gitignore
!build.json
!wp-content
wp-content/*
!wp-content/plugins
wp-content/plugins/*
!wp-content/themes
wp-content/themes/*
# ------------------------------------------------------------
# Your custom themes/plugins
# Added automagically by WP-CLI Build (wp build-generate)
# ------------------------------------------------------------
!wp-content/themes/domo-child/
!wp-content/themes/domo/
# ------------------------------------------------------------
# END WP-CLI BUILD BLOCK
