{
  "plugins": [
    "stylelint-selector-bem-pattern"
  ],
  "rules": {
    "plugin/selector-bem-pattern": {
      "componentName": "[A-Z]+",
      "componentSelectors": {
        "initial": "^\\.{componentName}(?:-[a-z]+)?$",
        "combined": "^\\.combined-{componentName}-[a-z]+$"
      },
      "utilitySelectors": "^\\.util-[a-z]+$"
    },
    "max-nesting-depth": [ 3, {
      ignore: ["blockless-at-rules"],
      ignoreAtRules: ["/^include/", "media"]
    }],
    "selector-max-id": 0,
    "color-named": "never",
    "shorthand-property-no-redundant-values": true,
    "declaration-block-no-redundant-longhand-properties": true,
    "no-unknown-animations": true,
    "function-url-scheme-blacklist": ["/^http/"],
    "selector-max-class": 3,
    "declaration-property-value-blacklist": {
      "transition": ["/^all/"]
    },
    "selector-max-universal": 0,
    "selector-max-type": 1
  }
}
