.panel {
  display: flex;
  margin-top: 100px;
}

.panel-login {
  position: relative;
  display: flex;
  align-items: left;
  flex-direction: column;
  border: 2px solid grey;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
}

.panel-login__title {
  text-transform: uppercase;
  border-bottom: 2px solid grey;
  margin: 0 0 20px 0;
}

.panel-login--form-group input {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 0 20px 20px;
  border: 1px solid slategray;
  border-radius: 3px;
  position: relative;
}

.panel-login--form-group label {
  min-width: 25%;
  display: inline-block;
  text-align: right;
}

.panel-login--form-group--btn {
  text-align: right;
  margin-right: 90px;
}

.btn--sign-in:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.jwt-form {
  .message {
    color: $red-color;
    display: none;
  }

  &.error-not-response {
    .message--not-response{
      display: block;
    }
  }

  &.error-validation {
    .message--validation{
      display: block;
    }
  }
}
