.domo-pass {
  max-width: 300px;
  background-color: $color-gray;
  padding: 25px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  //position: relative;
  display: none;
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  z-index: 1;
  overflow: auto;
  //background-color: rgba(0,0,0,0.4);
  width: 100%;
}

.domo-pass__group {
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: center;

  input {
    margin-left: 10px;
  }
}