@media (min-width: 768px) {

  .box-list__add-new {
    position: relative !important;
    top: unset !important;
    right: unset !important;
    width: 250px !important;
    height: 250px !important;
  }

  .box-list__add-new::before {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 250px !important;
  }

  .box-list__elem--plus {
    background: none !important;
  }

  .box-list__elem--title {
    position: relative;
    bottom: - 219px;
    display: flex;
    justify-content: center;
  }
}

.box-list__container {
  display: flex;
  justify-content: center;
}

.box-list {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-gap: 20px;
}

.box-list__elem {
  width: 250px;
  height: 250px;
  background-color: #3A3A3A;
  position: relative;
  cursor: pointer;
}

.box-list__elem--title {
  color: #59a13e;
  font-size: 30px;
}