%column-gap {
  @include rwd(small) {
    &.column-gap-none {
      column-gap: 0;
    }

    &.column-gap-xsmall {
      column-gap: $space-one-fourth;
    }

    &.column-gap-small {
      column-gap: $space-half;
    }

    &.column-gap-medium {
      column-gap: $space;
    }

    &.column-gap-large {
      column-gap: $space-double;
    }
    &.column-gap-xlarge {
      column-gap: $space-triple;
    }
    &.column-gap-xxlarge {
      column-gap: $space-quadruple;
    }
  }
}

.alignwide {
  max-width: $content-width-wide;
}
  
.alignfull {
  max-width: $content-width-full;
}

[class*="-section-row-inner-"] {
  margin-left: auto;
  margin-right: auto;
  max-width: $content-width;
  width: 100%;

  &.wide {
    max-width: $content-width-wide;
  }

  &.full {
    margin-left: $space;
    margin-right: $space;
    max-width: none;
  }
}
